@import "./Css/Header.css";
@import "./Css/ProfilePage.css";
@import "./Css/a.css";
body {
  margin: 0;
  
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h6,h5,h4,h3,h2,h1 {
  color: #192232;
}
  


