.nutrients-graph-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .nutrient-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .nutrient-bar-label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
  }
  
  .nutrient-bar-fill {
    background-color: #4caf50;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .nutrient-value {
    position: absolute;
    top: -25px;
    right: 0;
    color: black;
    font-weight: bold;
  }
  